* {
    margin: 0;
    padding: 0;
}


#stage {
    width: 5000px;
    height: 567px;
    background-image: url('/tło1.png');
    background-repeat: repeat;
    display: inline-block;
    position: relative;
}

.square
{
    width: 80px;
    height: 80px;
    background-image: url('/game/płotekultimate.png');
   
    margin: auto;
    bottom:0;
    position: absolute;
  
}

.player
{
    width: 200px;
    height: 200px;
    background-image: url('/runner.gif');
    margin: auto;
    bottom:0;
    left:200px;
    position: absolute;
  
}