
 #signUp-form{
	 width: 100%;
 }


.contain{
	background-color: #000;
	color:rgba(238, 238, 238);
	margin: 20px;
	text-align: center;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.wrapper{
	padding: 5px;
	text-align: justify;
}

.wrapper p{
	font-size: 16px;
}
.forms-style{
	margin: 20px;
	display: flex;
	flex-direction: column;
}


input[type=email]
{   
    clear: both;
	flex-direction: column;
	text-align: center;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
    margin: auto;
      
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;

}

input[type=submit]
{
	
	background-color:rgb(102, 42, 42);
	
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
.form-header{
	font-size: 22px;
}
