body {
    font: 300 15px/1.625 "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
    color: #626262;
}
.title{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    padding: 10px 0;
    display: block;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    width: 75%;
    margin: auto;
}
.main{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.column1 {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    }
.column2{
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    }
@media only screen and (min-width: 768px) {
.column1 {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    }
.column2{
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    }
}
.map, .writing, .improve, .people, .notification, .chat{
    color: #FFF;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-align: justify;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
  }

.map_icon,.writing_icon, .improvement_icon, .people_icon, .notification_icon, .chat_icon{
    display: block;
    margin: auto;
    width: 100px;
    height: 82px;
    background-color:rgb(102, 42, 42);
    text-align: center;
}
h4 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    }
.about_us_p{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #fff;
}
#copyright {
    display: block;
    color: rgba(255, 255, 255, 0.397);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    display: block;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    margin: auto;
    width: 75%;
}

