body
{
    margin: 0;
    padding:  0px 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}




h1{
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.row
{
	margin: 20px 10px;
}

label
{
    
    padding-left:10px;
    padding-right: 10px;
    margin: 10px;
}

