#cookies-message{ 
    color: 
    white; 
    padding: 12px 10px; 
    text-align: center; 
    position: fixed; 
    bottom:0px; 
    left:0; 
    right:0; 
    background-color: rgba(0,0,0,0.6); 
    z-index: 100000; box-shadow: 0 0 5px rgba(0,0,0,0.4); 
    display: none;
  }
  #accept-cookies-checkbox{ 
    background-color: #00AFBF; 
    color: #FFF; 
    border: solid 1px #00AFBF; 
    transition: all 0.5s; padding: 2px 6px; 
    border-radius: 4px; display: inline-block; 
    margin-left: 10px; text-decoration: none; 
    cursor: pointer
  }
  #accept-cookies-checkbox:hover{ 
    background-color: transparent; 
    border-color: white;
  }

  #myBtn {
    width: 20px;
    height: 20px;
    color: #000;
   
  }