/*font family, primary color dla background i czcionki*/

.AboutUsWrapper{
    margin: 0 auto;
    background: #fff;
    color: #2b2d2c;
    display: flex;
    flex-direction: column;
    }

.AboutUs-header{
    font-size: 20px;
    text-align: center;
}
.AboutUs-container{
    width: 80%;
    border-radius: 20px;
    margin: 13px auto;
    box-shadow: 0px 0px 10px 4px;
    background: #c9efd6;
    display: flex;
    flex-direction: row;   
}
.AboutUs-container:hover{
    width: 80%;
    border-radius: 20px;
    margin: 13px auto;
    box-shadow: 0px 0px 15px 4px;
    background: #c9efd6;
    transition: 0.5s;
}
.AboutUs-container-column1{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    flex-basis: 30%;
}

.AboutUs-container-column2{
    text-align: left;
    flex-basis: 70%;
}
.AboutUs-container-column1__nested i{
    color: gray;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 0 1px;
}
.AboutUs-container-column1__nested i:hover{
    color: #ed6b0e;
    transition: 0.5s;
}

.AboutUs-container-column1 img{
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 4px 4px 10px 4px;
}

.AboutUs-container-column1 .Marcin:hover{
    content: url(pictures/jahovernakolo.jpg);
}
.AboutUs-container-column1 .Karol:hover{
    content: url(pictures/karolhover.jpg);
}
.AboutUs-container-column1 .Mikolaj:hover{
    content: url(pictures/Mikohovernakolo.jpg);
}
.AboutUs-container-column1 .Patryk:hover{
    content: url(pictures/Patrykhovernakolo.jpg);
}
.AboutUs-container-column2__nested p{
    padding-right: 10%;
}
.AboutUs-container-column2__nested p:last-child{
    padding-bottom: 20px;
}

@media screen and (max-width: 760px){
    .AboutUsWrapper{
        margin: 0 auto;
        background: #fff;
        color: #2b2d2c;
        display: flex;
        flex-direction: column;
        width: 80%;
    }    

    .AboutUsWrapper h1, h2{
        text-align: center;
    }
    .AboutUs-container{
            display: flex;
            flex-wrap: wrap;
            min-width: 200px;
            border-radius: 20px;
            margin: 10px auto;
            box-shadow: 0px 0px 10px 4px;
            background: #c9efd6;
            justify-content: center;
            align-items: center;
            
    }
    .AboutUs-container-column1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 200px;
    }
    .AboutUs-container-column2{
        text-align: center;
    }
}
