html{
    width: 100%;
    height: 100%;
}

body{
    margin:0;
    width: 100%;
    height: 100%;
    
}


.hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('../img/run.jpg');
}


.hero h1{
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 5px;
    
}

.hero p{
    max-width: 100%;
    max-height: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    overflow: hidden;
  
}

.container{
    margin-top: 20px;
    display:flex;
   
}

input

{   

    margin-top: auto;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
    font-size: 1.2rem;
    padding-top:20px;
	padding: 15px;
	margin-bottom: 15px;
    outline: none;
    
    }



input:hover{
    cursor: pointer;
    opacity: 0.7;
    border: solid 1px lightgreen;
}

input:focus, 

{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #808080;
}